@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fafaf9;
  color: #292524;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: #fef3c7;
  color: #78350f;
}
